<mat-grid-list [cols]="cols">

  <mat-grid-tile>

    <img style="width: 95%" src="/assets/old_photo4.png">

  </mat-grid-tile>

  <mat-grid-tile>


    <div class="aco">

      <div class="txt">

        <h1 class="title">O skoli</h1>

        <p class="desc">
          Tokom 42 godine svoga postojanja ova škola je
          stekla veliki ugled u gradu Tuzli i državi, jer su iz
          nje izlazili vrlo kvalitetni stručnjaci za određena
          zvanja u kojima su se obrazovali. U 38 generacija
          maturanata, koje su izvedene, obrazovanje je
          završilo blizu 10000 đaka. Veliki broj njih, blizu
          50% nastavilo je dalje obrazovanje na višim
          školama i fakultetima i to u raznim oblastima
          stičući različita zvanja. Desetak bivših đaka
          škole sada su i sami uključeni u nastavni
          proces kao predavači.
        </p>

      </div>



    </div>




  </mat-grid-tile>


</mat-grid-list>
