<div style="height: 100%; background-color: #707070;">

  <div class="scrollmenu">

    <app-filecard *ngFor="let oglas of oglasi" [title]="oglas.fields.naslov" [date]="oglas.sys.createdAt"></app-filecard>
    <app-filecard *ngFor="let oglas of oglasi" [title]="oglas.fields.naslov" [date]="oglas.sys.createdAt"></app-filecard>

    <app-filecard *ngFor="let oglas of oglasi" [title]="oglas.fields.naslov" [date]="oglas.sys.createdAt"></app-filecard>

    <app-filecard *ngFor="let oglas of oglasi" [title]="oglas.fields.naslov" [date]="oglas.sys.createdAt"></app-filecard>

    <app-filecard *ngFor="let oglas of oglasi" [title]="oglas.fields.naslov" [date]="oglas.sys.createdAt"></app-filecard>

    <app-filecard *ngFor="let oglas of oglasi" [title]="oglas.fields.naslov" [date]="oglas.sys.createdAt"></app-filecard>

    <app-filecard *ngFor="let oglas of oglasi" [title]="oglas.fields.naslov" [date]="oglas.sys.createdAt"></app-filecard>
    <app-filecard *ngFor="let oglas of oglasi" [title]="oglas.fields.naslov" [date]="oglas.sys.createdAt"></app-filecard>
    <app-filecard *ngFor="let oglas of oglasi" [title]="oglas.fields.naslov" [date]="oglas.sys.createdAt"></app-filecard>
    <app-filecard *ngFor="let oglas of oglasi" [title]="oglas.fields.naslov" [date]="oglas.sys.createdAt"></app-filecard>
    <app-filecard *ngFor="let oglas of oglasi" [title]="oglas.fields.naslov" [date]="oglas.sys.createdAt"></app-filecard>
    <app-filecard *ngFor="let oglas of oglasi" [title]="oglas.fields.naslov" [date]="oglas.sys.createdAt"></app-filecard>

    <app-filecard *ngFor="let oglas of oglasi" [title]="oglas.fields.naslov" [date]="oglas.sys.createdAt"></app-filecard>

    <app-filecard *ngFor="let oglas of oglasi" [title]="oglas.fields.naslov" [date]="oglas.sys.createdAt"></app-filecard>

    <app-filecard *ngFor="let oglas of oglasi" [title]="oglas.fields.naslov" [date]="oglas.sys.createdAt"></app-filecard>

    <app-filecard *ngFor="let oglas of oglasi" [title]="oglas.fields.naslov" [date]="oglas.sys.createdAt"></app-filecard>

    <app-filecard *ngFor="let oglas of oglasi" [title]="oglas.fields.naslov" [date]="oglas.sys.createdAt"></app-filecard>







  </div>




</div>
