

<div class="blur container">

  <div class="row centr">

    <div class="col-sm">
      <img src="../assets/logo.png">
    </div>
    <div class="col-sm">


      <p class="footer-info">
        Kontakt
      </p>
      <p class="footer-info">
        +387 35 281 167
      </p>

      <p class="footer-info">
        ets.tz@bih.net.ba
      </p>

      <p class="footer-info">
        Muhameda Hevaije Uskufija 2
      </p>

      <p class="footer-info">
        Tuzla 75000
      </p>

    </div>

    <div class="col-sm">
      <h4>Direktor skole</h4>
      <h4>Selmir Dadnovic</h4>
    </div>

  </div>

</div>



<div class="brand">
  <h5 style="color: #FFFFFF"> etstuzla.edu.ba       All rights are reserved by JUMS Elektrotehnička škola Tuzla</h5>
</div>
