<div style="width: 100%; cursor: pointer; height: 90%;" class="itemHov item">

  <div style="height: 50%; width: 100%">

    <img style="width: 60%; object-fit: cover" [src]="img">

  </div>

  <div style="width: 100%; max-width: 100%; overflow: hidden; height: 40%; margin-top: 2%; padding: 5%">

    <h5 style="color: #FFFFFF ; height: 40%;">{{title.substr(0, 25)}} ...</h5>

  </div>

  <div style="height: 10%; padding: 1%; display: flex">

    <p style="color: #FFFFFF">{{date | date: 'mediumDate'}}</p>

  </div>

</div>

