<router-outlet> </router-outlet>

<img class="logoStyle" src="/assets/logo.png">
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black fixed-bottom">



  <links style="text-align: center; justify-content: center; align-items: center; align-content: center">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a  class="nav-link waves-light navItems" mdbWavesEffect>POCETNA</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link waves-light navItems" mdbWavesEffect>O SKOLI</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link waves-light navItems" mdbWavesEffect>SMJEROVI</a>
      </li>

    </ul>


    <div style="width: 15%;"></div>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a  class="nav-link waves-light navItems" mdbWavesEffect>SEKCIJE</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link waves-light navItems" mdbWavesEffect>MOODLE</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link waves-light navItems" mdbWavesEffect>SMJEROVI</a>
      </li>

    </ul>


    <ul class="navbar-nav right nav-flex-icons ">

      <li class="nav-item waves-light icon" mdbWavesEffect>

        <img class="icoSize" src="/assets/fa_ico.png">
      </li>


      <li class="nav-item waves-light icon" mdbWavesEffect>

        <img class="icoSize" src="/assets/yt_ico.png">

      </li>

    </ul>




  </links>




</mdb-navbar>
