.card-body{
  text-align: center;
  background-color: #CC0202;
}
.card-title{
  color: white;
}
.card-text{
  color: white;
}
//

.card{

  max-width: 100%;

  height: 40%;

}

.card-img-top{
  height: 100%;
  width: 100%;

}

.card-text{
  word-wrap: break-word;
  overflow-wrap: break-word;
}
