
<div class="card" style="width: 18rem;">
  <div style="height: 100%; width: 100%">
    <img class="card-img-top" style="object-fit: fill" [src]=img alt="Card image cap">

  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p style="color: white;" class="card-title">{{desc}}</p>

    <div style="display: block" class="card-text text-truncate">
      <p>{{descLong}}</p>
    </div>
    <a  href="#" class="btn btn-primary"><i class="fab fa-linkedin"></i></a>

  </div>
</div>
