.card-body{
  background-color: #CC0202;
}
.card-title{
  color: white;
}
.card-text{
  color: white;
}
//

.card{
  max-width: 100%;
}

.card-img-top{
  height: 40%;
  width: 100%;

}

.card-text{
  word-wrap: break-word;
  overflow-wrap: break-word;
}
