
@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));
  @return $randomNum;
}

.old_photo {
  width: 70%;
  transform:rotate( #{randomNum(-22, 22)}deg );
  border: solid 20px #CC0202;
}

.about-txt{
  width: 90%;
  height: 90%;
  font-family: Montserrat-Regular;
  padding: 2%;
  text-align: justify;
  word-break: break-word;
}

::ng-deep md-grid-tile.mat-grid-tile .mat-figure {
   background: transparent;
 }

.blur {
  width: 100%;
  background-color: #ffffff;

}
