
@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));
  @return $randomNum;
}

.old_photo {
  width: 70%;
  transform:rotate( #{randomNum(-22, 22)}deg );
  border: solid 20px #CC0202;
}

.about-txt{
  width: 90%;
  height: 90%;
  font-family: Montserrat-Regular;
  padding: 2%;
  font-size: 200%;
  text-align: justify;
  word-break: break-word;
}

::ng-deep md-grid-tile.mat-grid-tile .mat-figure {
   background: transparent;
 }

.blur {
  width: 90%;
  margin: 10%;
  background-color: #ffffff;

}

@media only screen and (max-width: 1152px){
  .about-txt{
    width: 90%;
    height: 90%;
    font-family: Montserrat-Regular;
    padding: 2%;
    font-size: 150%;
    text-align: justify;
    word-break: break-word;
  }
}

@media only screen and (max-width: 800px){
  .about-txt{
    width: 90%;
    height: 90%;
    font-family: Montserrat-Regular;
    padding: 2%;
    font-size: 130%;
    text-align: justify;
    word-break: break-word;
  }
}
