
@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));
  @return $randomNum;
}


.old_photo {
  width: 70%;
  transform:rotate( #{randomNum(-22, 22)}deg );
  border: solid 20px #CC0202;
}

.about-txt{

  padding: 2%;
  font-size: calc(1.5em + 1vmin);
}


::ng-deep md-grid-tile.mat-grid-tile .mat-figure {
   background: transparent;
 }
