<div style="height: 7%; background-color: #CC0202; text-align: center; text-align-all: center; display: flex; align-items: center" >

  <h2 style="color: white; text-align: center; width: 100%">ODABERITE STRUČNO ZVANJE/ZANIMANJE ZA SEBE</h2>

</div>


<div *ngIf="!pageComingSoon" style="margin: 5%;">

  <mat-grid-list [cols]="4" class="center-list">

      <mat-grid-tile (click)="navigate(smjer.sys.id)" *ngFor="let smjer of smjerovi">

        <img style="width: 90%; height: 90%; object-fit: contain" src="{{smjer.fields.ikona.fields.file.url}}">

      </mat-grid-tile>

  </mat-grid-list>

</div>

<div *ngIf="pageComingSoon" style="width: 100%; height: 100%; text-align: center; align-items: center; font-family: Montserrat-Bold">

  <h1>Uskoro dostupno</h1>

</div>
