mat-grid-tile:hover {



}


.gall:hover{
  z-index: 500;
  position: absolute;
  transition: transform .3s; /* Animation */
  transform: scale(1.15);
}

.gall{
  position: absolute;
  transform: scale(1);
  transition: transform .3s; /* Animation */
}
