<h1 style="color: #CC0202; margin-left: 7%; margin-top: 5%" >GALERIJA</h1>
<div style="margin: 3% 7% 10%;" >
  <mat-grid-list [cols]="galCols">

    <mat-grid-tile *ngFor="let album of normalizedArr">

      <div class="item" style="width: 99%; height: 99%;">

        <div style="width: 100%; height: 60%; overflow: hidden">
          <ng-image-slider  [imagePopup]="true" [infinite]="true" [showArrow]="false" style="width: 100%; height: 50%; margin-left: -5.5%; object-fit: cover" [images]="album.imgs" [slideImage]="1" [autoSlide]="2"></ng-image-slider>
        </div>

        <div style="width: 100%; height: 30%; margin-top: 2%; padding: 5%">

          <h3 class="title-font" style="color: #FFFFFF">{{album.title.substr(0, 45)}}</h3>

        </div>

        <div style="height: 10%; padding: 2%; margin-bottom: 1%">
          <p class="date-font">{{album.date | date: 'mediumDate'}}</p>
        </div>

      </div>

    </mat-grid-tile>
  </mat-grid-list>
</div>
