.container-news {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container-news-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slider{
  width: 60%;


}
.slider-mobile{
  margin-left: -2.5%;
  width: 100%;
}

.arrow{
  right: 41%
}

.arrow-mobile{
  right: 1%;
}

.headlines {
  width: 40%;
  border: 2px solid #CC0202;
  background-color: #f7f7f7;
  opacity: 0.65;
  filter: alpha(opacity=50);
}

.headlines-mobile {
  width: 100%;
  border: 2px solid #CC0202;
  background-color: #f7f7f7;
  opacity: 0.65;
  filter: alpha(opacity=50);
}

.headline{
  height: 33.333%;
  padding: 5%;
  width: 100%;
  transition: all .5s ease-in-out;
}

.headline-selected{

  transition: all .10s ease-in-out;
  height: 33.333333%;
  padding: 5%;
  width: 100%;
  background-color: #CC0202;
}

.headline-title{
  color: #CC0202;
}

.headline-title-selected {
  color: white;
}
