<mat-grid-list [cols]="2">

  <mat-grid-tile>

    <img src="/assets/old_photo1.png">

  </mat-grid-tile>

  <mat-grid-tile>


    <div class="aco">

      <div class="txt">

        <h1 style="font-size: 500%; margin-top: 3%">O skoli</h1>

        <p style=" font-size: 250%">
          Cilj osnivanja škole bio je objedinjavanje
          obrazovanja za sva zanimanja elektrotehničke
          struke u jednom školskom centru. Do 1970.
          godine učenici ove struke su se u Tuzli
          obrazovali u okviru dvije škole mješovitog tipa.
          Elektrotehničara jake struje i elektrotehničara
          slabe struje, čije je redovno školovanje trajalo
          4 godine i autoelektričara,sa trajanjem
          školovanja od 3 godine.
        </p>

      </div>


      <img style="margin-top: 5%" src="/assets/arrowDown.png">

    </div>




  </mat-grid-tile>


</mat-grid-list>
