<mat-grid-list [cols]="2">

  <mat-grid-tile>

    <img src="/assets/old_photo3.png">

  </mat-grid-tile>

  <mat-grid-tile>


    <div class="aco">

      <div class="txt">

        <h1 style="font-size: 500%; margin-top: 3%">O skoli</h1>

        <p style=" font-size: 250%">
          U zadnjih par godina škola je uključena u
          nekoliko značajnih projekata. Jedan od njih je
          izrada i usvajanje novih nastavnih planova i
          programa koji su "Orjentirani ka djelovanju"
          odnosno pokušavaju da prate aktuelne trendove
          u nauci, tehnici i tehnologiji. Uz pomoće
          organizacije GTZ (Nemačka organizacija za
          tehničku saradnju) Škola uspješno realizuje
          taj projekat.
        </p>

      </div>


      <img style="margin-top: 5%" src="/assets/arrowDown.png">

    </div>




  </mat-grid-tile>


</mat-grid-list>
