
<div class="header">

  <h1 style="text-align: center; color: white;"> Profesori </h1>

  <h5 style="text-align: center; color: white; margin-top: 0.5%">Lorem ipsum dolor sit amet, ad qui  quas delenit oportere, quidam  molestiae dissentiet ex sea. Ut mea  graeco rationibus adipiscing. </h5>


</div>



<div class="scrollmenu">

  <app-staffcard *ngFor="let prof of profesori"
                 [img]="prof.fields.img.fields.file.url"
                 [title]="prof.fields.name"
                 [desc]="prof.fields.funkcija"
                 [descLong]="prof.fields.ulogaSkoli"></app-staffcard>

</div>


<div class="header">

  <h1 style="text-align: center; color: white;"> Administracija </h1>

  <h5 style="text-align: center; color: white; margin-top: 0.5%">Lorem ipsum dolor sit amet, ad qui  quas delenit oportere, quidam  molestiae dissentiet ex sea. Ut mea  graeco rationibus adipiscing. </h5>


</div>



<div class="scrollmenu">

  <app-staffcard *ngFor="let admin of administracija"
                 [img]="admin.fields.img.fields.file.url"
                 [title]="admin.fields.name"
                 [desc]="admin.fields.funkcija"
                 [descLong]="admin.fields.ulogaSkoli"></app-staffcard>

</div>


<div class="header">

  <h1 style="text-align: center; color: white;"> Radno osoblje </h1>

  <h5 style="text-align: center; color: white; margin-top: 0.5%">Lorem ipsum dolor sit amet, ad qui  quas delenit oportere, quidam  molestiae dissentiet ex sea. Ut mea  graeco rationibus adipiscing. </h5>


</div>



<div class="scrollmenu">

  <app-staffcard *ngFor="let prof of radnoOsoblje"
                 [img]="prof.fields.img.fields.file.url"
                 [title]="prof.fields.name"
                 [desc]="prof.fields.funkcija"
                 [descLong]="prof.fields.ulogaSkoli"></app-staffcard>

</div>

