div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  padding: 2%;
}

.header {
  background-color: #707070;
  height: 10%
}

div.scrollmenu mdb-card {

  transition: transform .2s;
  transform: scale(1);
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu mdb-card:hover {

  transition: transform .2s;
  transform: scale(1.1);
}


.card {
  margin: 1%;
  width: 20%;
  height: 30%;
  background-color: #707070;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

@media only screen and (max-width: 990px)  {

  .card {
    margin: 1%;
    width: 60%;
    background-color: #707070;

  }

  .header {
    background-color: #707070;
    height: 22%
  }

}
