

.card-new {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 20%; height: 50%;
  text-align: center;

}


.header {
  background-color: #707070;
  height: 10%
}




.card {
  margin: 1%;
  width: 20%;
  height: 30%;
  border: 0;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  // width: 0px;  /* remove scrollbar space */
  // background: transparent;  /* optional: just make scrollbar invisible */
}

@media only screen and (max-width: 990px)  {

  .card {
    margin: 1%;
    width: 60%;
    background-color: #707070;

  }

  .header {
    background-color: #707070;
    height: 22%
  }

}
.scrolling-wrapper {
 // margin-top: 5%;
  display: flex;

  height: 70%;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden ;

  .pos {
    vertical-align: middle;
    margin-top: 2%;
    padding: 1%;
    margin-bottom: -10%;
  }
}



