
<div class="header">

  <h1 style="text-align: center; color: white;"> Profesori </h1>

  <h5 style="text-align: center; color: white; margin-top: 0.5%">Lorem ipsum dolor sit amet, ad qui  quas delenit oportere, quidam  molestiae dissentiet ex sea. Ut mea  graeco rationibus adipiscing. </h5>


</div>



<div class="scrolling-wrapper">

  <div class="pos" *ngFor="let prof of profesori">

    <app-staffcard
                   [img]="prof.fields.img.fields.file.url"
                   [title]="prof.fields.name"
                   [desc]="prof.fields.funkcija"
                   [descLong]="prof.fields.ulogaSkoli"></app-staffcard>
  </div>


</div>


<div class="header">

  <h1 style="text-align: center; color: white;"> Administracija </h1>

  <h5 style="text-align: center; color: white; margin-top: 0.5%">Lorem ipsum dolor sit amet, ad qui  quas delenit oportere, quidam  molestiae dissentiet ex sea. Ut mea  graeco rationibus adipiscing. </h5>


</div>



<div class="scrolling-wrapper">

  <div class="pos" *ngFor="let prof of administracija">

    <app-staffcard
      [img]="prof.fields.img.fields.file.url"
      [title]="prof.fields.name"
      [desc]="prof.fields.funkcija"
      [descLong]="prof.fields.ulogaSkoli"></app-staffcard>
  </div>


</div>


<div class="header">

  <h1 style="text-align: center; color: white;"> Radno osoblje </h1>

  <h5 style="text-align: center; color: white; margin-top: 0.5%">Lorem ipsum dolor sit amet, ad qui  quas delenit oportere, quidam  molestiae dissentiet ex sea. Ut mea  graeco rationibus adipiscing. </h5>


</div>



<div class="scrolling-wrapper">

  <div class="pos" *ngFor="let prof of radnoOsoblje">

    <app-staffcard
      [img]="prof.fields.img.fields.file.url"
      [title]="prof.fields.name"
      [desc]="prof.fields.funkcija"
      [descLong]="prof.fields.ulogaSkoli"></app-staffcard>
  </div>


</div>

