<mat-grid-list [cols]="cols">

  <mat-grid-tile>

    <img style="width: 95%;" src="/assets/old_photo2.png">

  </mat-grid-tile>

  <mat-grid-tile>


    <div class="aco">

      <div class="txt">

        <h1 class="title">O skoli</h1>

        <p class="desc">
          Od formiranja ove škole do danas bilo je više
          reformi školstva sa kojima su mijenjani nastavni
          planovi i programi, kao i nazivi zanimanja za
          koja su se učenici obrazovali i odgajali i srednjim
          školama. Jedna reforma je izvršena je
          ratne-školske 1992/93 godine. Sve provedene
          reforme obuhvatale su i obrazovanje u
          elektrotehničkoj struci.
        </p>

      </div>


      <img class="arrow" src="/assets/arrowDown.png">

    </div>




  </mat-grid-tile>


</mat-grid-list>
