<mat-grid-list [cols]="2">

  <mat-grid-tile>

    <img src="/assets/old_photo2.png">

  </mat-grid-tile>

  <mat-grid-tile>


    <div class="aco">

      <div class="txt">

        <h1 style="font-size: 500%; margin-top: 3%">O skoli</h1>

        <p style=" font-size: 250%">
          Od formiranja ove škole do danas bilo je više
          reformi školstva sa kojima su mijenjani nastavni
          planovi i programi, kao i nazivi zanimanja za
          koja su se učenici obrazovali i odgajali i srednjim
          školama. Jedna reforma je izvršena je
          ratne-školske 1992/93 godine. Sve provedene
          reforme obuhvatale su i obrazovanje u
          elektrotehničkoj struci.
        </p>

      </div>


      <img style="margin-top: 5%" src="/assets/arrowDown.png">

    </div>




  </mat-grid-tile>


</mat-grid-list>
