<mdb-carousel [isControls]="true" [animation]="'slide'">
  <mdb-carousel-item *ngFor="let novost of novosti.slice(0,3)">
    <div class="view">
      <img class="d-block carouselImg" src="{{novost.fields.slikeNovosti.fields.file.url}}"
           alt="First slide">
      <div class="mask flex-center rgba-black-light">
      </div>

      <div class="carousel-caption">
        <h1 class="caption" class="h1-responsive">{{novost.fields.naslov}}</h1>
      </div>


    </div>
  </mdb-carousel-item>

</mdb-carousel>


  <app-news-cards></app-news-cards>
