
<div style="" class="blur">

  <div  class="inside">
    <p style="color: #CC0202;   font-size: calc(1.5em + 1vmin); font-family: Montserrat-Bold">
      O ŠKOLI
    </p>
  </div>


  <h4 style="color: #CC0202; text-align: justify; padding-top: 1%; font-size: calc(0.9em + 1vmin); font-family: Montserrat-SemiBoldItalic">
    {{newsTitle}}
  </h4>

  <h2 [routerLink]="'/oskoli'"  style="text-align: center; cursor: pointer; padding: 1%; font-family: Montserrat-ExtraBold">Procitaj vise</h2>

</div>

<div class="news-container">

  <h1 style="padding-top: 2%; padding-left: 2%; color: #FFFFFF;"> <b>NOVOSTI I VIJESTI</b></h1>



  <div style="width: 100%; align-items: center; justify-content: center; text-align: justify">

    <div class="row " style="align-items: center; margin-left: 0; margin-right: 0; justify-content: center; text-align: justify; padding: 0">

      <div (click)="navigate(news.sys.id)" class="col-sm" style="align-items: center;cursor: pointer; padding: 1.5%; margin-left: 0; margin-right: 0; justify-content: center; text-align: justify;" *ngFor="let news of novosti.slice(0, 4)">

        <div style="padding: 0; background-color: #FFFFFF">
          <mat-grid-list class="tile" [cols]="2" rowHeight="265">
            <mat-grid-tile class="tile-l" >
              <div class="title-block" >

                <p style="padding-top: 4%; padding-left: 4%; font-size: 80%; font-family: Montserrat-Regular">

                  {{news.sys.createdAt | date: 'mediumDate'}}

                </p>
                <h4 class="title-txt">
                  {{news.fields.naslov}}
                </h4>
              </div>
            </mat-grid-tile>

            <mat-grid-tile class="tile">
              <div class="img-block">
                <img class="img" src="{{news.fields.slikeNovosti.fields.file.url}}">
              </div>
            </mat-grid-tile>

          </mat-grid-list>

        </div>

      </div>

    </div>

  </div>

  <div style="width: 100%; text-align: center; padding-bottom: 2%">
    <img style="width: 2%" src="../assets/white_arrow.png">
  </div>
  
</div>

<div style="padding-left: 1.5%; padding-right: 1.5%; margin-top: -1%; background: white">
  <img style="width: 100%" src="../assets/bubles.png">
</div>


<div style="width: 100%; margin: 0; padding: 0" >

  <div class="row">
    <div style="padding: 0" class="col-sm-8">

      <div class="info-block">

        <h3 style="padding-left: 2%; padding-top: 2%; color: white; font-family: Montserrat-ExtraBold">UPIS U 1. RAZRED</h3>

        <h4 style="padding-left: 2%; padding-top: 1%; font-family: Montserrat-Bold">U četverogodišnja zanimanja upisuje se ukupno ____ učenika, i to:</h4>

        <ul style="color: #FFFFFF; font-family: Montserrat-Bold">
          <li>75 Tehničara računarstva</li>
          <li>50 Tehničara mehatronike</li>
          <li>50 Tehničara elektroenergetike</li>
          <li>25 Tehaničara elektronike</li>
        </ul>

        <h4 style="padding-left: 2%; padding-top: 1%; font-family: Montserrat-Bold">U trogodišnja zanimanja upisuje se ukupno ____ učenika, i to:</h4>

        <ul style="color: #FFFFFF; font-family: Montserrat-Bold">
          <li>25 Električara</li>
          <li>25 Telekomunikacija</li>
          <li>25 Auto električara</li>
        </ul>

      </div>

    </div>

    <div style="padding: 0" class="col-sm-4">
      <div class="files-block">
      <div style="display: flex; flex-direction: row">

        <div style="width: 100%; height: 100%; padding-top: 15%; padding-left: 7%">

          <h3 style="color: white; font-family: Montserrat-ExtraBold">
            POTREBNI DOKUMENTI
          </h3>

          <ul  style="margin-top: 2%; color: #FFFFFF; font-size: 120%; font-family: Montserrat-Bold;">
            <li style="padding: 2%">Svjedočanstvo</li>
            <li style="padding: 2%">Rodni list</li>
            <li style="padding: 2%">Pedagoški karton</li>
            <li style="padding: 2%">Diplome i uvjerenja o ostvarenim rezultatima</li>
          </ul>

        </div>

        <img style="width: 40%; height: 40%;margin-top: 10%" src="../assets/file.png">

      </div>
      </div>
    </div>
  </div>
</div>


<div style="height: 10%"></div>




<div class="row">

  <div class="col-sm">

    <div style="flex-direction: row; display: flex; text-align: center">

      <div class="gray-block">
        <h1 class="class-block">OBRAZOVANJE ODRASLIH</h1>
      </div>

      <div [ngClass]=[thirdClass] (click)="elderDevelopment(0)">
        <h1 class="class-block">III</h1>
      </div>

      <div [ngClass]=[fourthClass] (click)="elderDevelopment(1)">
        <h1 class="class-block">IV</h1>
      </div>

    </div>


    <div style="height: 100%; margin-bottom: 20%; text-align: center; align-items: center; justify-content: center; background: #FFFFFF; width: 100%; padding: 5%; padding-top: 10%">

      <p style="align-items: center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in commodo mauris, vel luctus augue. Pellentesque eleifend, eros eget dignissim scelerisque, velit mauris aliquam mi, et placerat nisl nunc non neque. Aenean eget lacinia nulla. Nunc vel commodo nisi. Suspendisse mollis libero et facilisis consectetur. Fusce scelerisque lorem a mauris placerat, eu porttitor dui malesuada. Duis luctus nisi lectus, vitae efficitur diam ultricies in. Mauris ornare mattis est ac pretium. Suspendisse eget magna sodales, elementum odio ac, eleifend justo. Fusce commodo dolor sed augue euismod, id egestas mi ultricies. Aenean id elementum nunc, vitae malesuada ipsum.

        Ut bibendum eleifend euismod. Donec euismod eleifend varius. Curabitur vel porttitor nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris sit amet mattis dui, nec interdum dolor. Donec non mauris fringilla, efficitur orci in, interdum velit. In sit amet ante placerat, euismod eros eget, rutrum orci. Vivamus rutrum, magna sit amet sodales aliquet, libero eros hendrerit risus, ac viverra lacus nibh id augue. Vestibulum vitae ex pellentesque, molestie ex nec, pretium massa. Cras tempus eleifend massa at ultricies.
      </p>

    </div>

  </div>

  <div class="col-lg">

    <div style="margin-bottom: 2%" class="gray-block">
      <h1 class="class-block">NADOLAZECI DOGADJAJI</h1>
    </div>

    <div class="blur-calendar">
      <app-events></app-events>
    </div>
  </div>

</div>


<!--

<mat-grid-list [cols]="elderCols" >

  <mat-grid-tile>
    <div style="width: 100%;">

      <mat-grid-list [cols]="5">

        <mat-grid-tile [colspan]="3">
          <div class="gray-block">
            <h1 class="class-block">OBRAZOVANJE ODRASLIH</h1>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div [ngClass]=[thirdClass] (click)="elderDevelopment(0)">
            <h1 class="class-block">III</h1>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div [ngClass]=[fourthClass] (click)="elderDevelopment(1)">
            <h1 class="class-block">IV</h1>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [rowspan]="4" [colspan]="4">
          <div style="height: 100%; margin-bottom: 20%; text-align: center; align-items: center; justify-content: center; background: #FFFFFF; width: 100%; padding: 5%; padding-top: 10%">

            <p style="align-items: center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in commodo mauris, vel luctus augue. Pellentesque eleifend, eros eget dignissim scelerisque, velit mauris aliquam mi, et placerat nisl nunc non neque. Aenean eget lacinia nulla. Nunc vel commodo nisi. Suspendisse mollis libero et facilisis consectetur. Fusce scelerisque lorem a mauris placerat, eu porttitor dui malesuada. Duis luctus nisi lectus, vitae efficitur diam ultricies in. Mauris ornare mattis est ac pretium. Suspendisse eget magna sodales, elementum odio ac, eleifend justo. Fusce commodo dolor sed augue euismod, id egestas mi ultricies. Aenean id elementum nunc, vitae malesuada ipsum.

              Ut bibendum eleifend euismod. Donec euismod eleifend varius. Curabitur vel porttitor nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris sit amet mattis dui, nec interdum dolor. Donec non mauris fringilla, efficitur orci in, interdum velit. In sit amet ante placerat, euismod eros eget, rutrum orci. Vivamus rutrum, magna sit amet sodales aliquet, libero eros hendrerit risus, ac viverra lacus nibh id augue. Vestibulum vitae ex pellentesque, molestie ex nec, pretium massa. Cras tempus eleifend massa at ultricies.
            </p>

          </div>

        </mat-grid-tile>


      </mat-grid-list>

    </div>

  </mat-grid-tile>

  <mat-grid-tile>

    <div class="blur-calendar">

      <app-events></app-events>

    </div>
  </mat-grid-tile>

</mat-grid-list>
-->
